
:root{
    --iris:#4D5AE5;
    --ocean:#404BBF;
    --naviblue: #2E2F42;
    --green:#31D0AA;
    --slate:#434455;
    --laightslate:#8E8F99;
    --cornflower:#E7E9FC;
    --cloud:#F4F4FD;
    --navibluemodal:#2E2F42 40 %;
    --grey:#2E2F42 70 %;
}

/**--------------RESET------------*/
*,
*::before,
*::after{
box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{margin: 0;
}
 button{cursor: pointer;}
 image{display: block;}
 ul{padding-left: 0;
margin: 0;}

/*---------body--------*/



body {font-family: "Roboto", sans-serif;
    color: #434455 ;
 }



 



/* -------logo---------- */
.logo {
font-family: 'Raleway' ,sans-serif ;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
color:var(--iris);
letter-spacing: 0.03em;
text-transform: uppercase;
padding:  24px 76px 24px 0px;

}
.list.header-container{ 
    border: none;
}
.logo-span{
    color:var(--naviblue);
   }
    

    .logo link{text-decoration: none;}
   
    .logo-span-footer{
        font-family: 'Raleway' ,sans-serif ;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        color:var(--cloud);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        }
       
    


/* -----------nav----------- */
.container{
    width: 1158px;
    padding-left: 15px; 
    padding-right: 15px;
    margin: 0 auto;
 }
.header-container{
     display: flex;
     gap: 40px;  
     justify-content: space-between;
     background: #FFFFFF;
     border-bottom: 1px solid #E7E9FC;
}  


.header-nav{
    display: flex;
    align-items: center;

}


.nav:hover { 
color: var(--iris);
}

.nav:active{
color: var(--iris);
}

.nav:focus{
color: var(--iris);  
}
.nav-link { 
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--naviblue);

}
.nav-link-item :hover { 
    color:var(--ocean);
}
.nav-link-item :active{
    color:var(--ocean);
}
.nav-link-item :focus{
    color:var(--ocean);
}




.address{
    display: flex;
    font-style: normal;
    
    
    
}
.list-container{
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}
.mail {
 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--slate);}
.tel {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--slate);
}
.mail cursor{ align-self: start;}
.mail-li :hover{
    color: var(--ocean);
}
.mail-li :focus{
    color:var(--ocean);
}
.mail-li :active{
    color:var(--ocean);
   
}
.address-mail-li{
    margin-right: 40px;
}

.tel , .mail{cursor: pointer;} 
.tel-li :hover{
    color:var(--ocean);
}
.tel :focus{
    color:var(--ocean);
}
.tel :active{
    color:var(--ocean);
}





/* -----------hero---------------- */

.hero-container{ 
   
   
    

}
.list{
    list-style: none}
.link{
     text-decoration: none;
}

 .hero{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; 
  
    
  }
  



.hero :hover {  color: var(--iris); }
.hero :active{ color: var(--iris);}
.hero :focus{ color: var(--iris);}


.hero-list-item{ 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5 ;
    display: flex; 
    margin-top: 96px;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
    
    }




.mainpage-hero{
    background-color: var(--naviblue);
   
    height: 600px;
    padding-top: 188px;
    padding-bottom: 48px;

   
      
}
.mainpage-hero-title{
    font-size: 56px;
    text-align: center;
    letter-spacing: 0.02em;
    color:#ffffff;
    line-height: 1.07;
    width: 496px;
    height: 120px;
    margin: auto;
}
   
 
  


.button{ 
    font-family:"Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--iris);
    letter-spacing: 0.04em;
    width: 126px;
    height: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    background:var(--cloud);
    border: 1px solid #E7E9FC;
    border-radius: 4px;

  
}

.button:hover{background: var(--iris); color: #ffffff;}
.button:focus{background: var(--iris); color: #ffffff;}
.button:active{background: var(--iris); color: #ffffff;}



.button-hero{ 
    
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;

    width: 169px;
    height: 56px;
    
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    letter-spacing: 0.04em;
    background-color:var(--iris);
    color: #FFFFFF;
    margin-top: 48px;
    margin-right: 435px;
    margin-left: 436px;
    margin-bottom: 188px;
   }
  
.button-hero :hover{ background-color: var(--ocean);}

.button-hero :focus{ background-color: var(--ocean);}




/*****---------------- offers-container------------------ */

.offers-container{
    width: 1128px;
    height: 128px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
   
   

}
.offers-list-container{ 
    display: flex;
    gap: 24px;
}
.offers-title{
    width:264px;
    height: 104px;
}

.offers-list{
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02;
    color: var(--naviblue);
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
}
.offer-list-item{
font-weight: 500;
font-size: 20px;
line-height:1.2 ;
letter-spacing: 0.02em;
color: var(--naviblue);
margin-bottom: 8px;}

.offers{
     margin: 156px 120px;
    gap: 24px;

}
.text{
    height: 72px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:var(--slate)
        
        
}


/******* ------------gallery------------- */

.main-gallery-container{
    width: 1128px;
    height: 412px;
    margin-bottom: 72px;
  
}
.main-gallery-list{
    display: flex;
  gap:24px;
  margin-bottom: 120px;
}
.main-gallery-text{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--naviblue);
   
}


.gallery-top{ 
}

.gallery-title{
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:var(--naviblue);
margin-bottom: 8px;
margin-left: 16px;


}
.gallery-subtitle{

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--slate);
margin-left: 16px;
margin-bottom: 32px;
}
/**-------------------team---------------------*/

.team{
     background:var(--cloud);
    
 }
    .team-container{
        padding-top: 120px;
    }
.team-container-resume{
    
    display: flex;
    gap: 24px;
}

.team-gellery{
background-color:var(--cloud);
font-weight: 500;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--naviblue);
margin-bottom: 72px;

}
.team-gellery-list{

 width: 264px;
  height: 380px;
  margin-bottom: 120px;

}

.team-gellery-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--naviblue);
    margin-top: 32px;
    margin-bottom: 28px;    
}
.team-gellery-subtext{
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--slate);
    padding-bottom: 32px;
}



/* ---------footer----------- */
.footer{
    background-color:var(--naviblue);
    color:#ffffff;}

 

.container-footer{
    display: flex;
    flex-direction: column;
    height: 312px;
    display: flex;
    padding-top: 100px;
padding-bottom: 100px;
}
    .footer-title{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--cornflower);
width: 264px;
height: 72px;

}

.logo-footer{

    margin-right: auto;
   
}
.main-photo{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 120px;
}
.main-photo-link{
    width: 360px;
    height: 420px;
    background: #FFFFFF;
    border: 1px solid #E7E9FC;
    margin-bottom: 32px;
    
}
.img{
    margin-bottom: 32px;

}

