
:root{
    --iris:#4D5AE5;
    --ocean:#404BBF;
    --naviblue: #2E2F42;
    --green:#31D0AA;
    --slate:#434455;
    --laightslate:#8E8F99;
    --cornflower:#E7E9FC;
    --cloud:#F4F4FD;
    --navibluemodal:#2E2F42 40 %;
    --grey:#2E2F42 70 %;
}

/**--------------RESET------------*/
*,
*::before,
*::after{
box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{margin: 0;
}
 button{cursor: pointer;}
 image{display: block;}
 ul{padding-left: 0;
margin: 0;}

/*---------body--------*/



body {font-family: "Roboto", sans-serif;
    color: #434455 ;
    background-color: #FFFFFF;
 }



 



/* -------logo---------- */
.logo {
font-family: 'Raleway' ,sans-serif ;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
color:var(--iris);
letter-spacing: 0.03em;
text-transform: uppercase;

}
.logo-header{
    margin-right:  76px;
}
.list-container{
    display: block;
}
.list.header-container{ 
    border: none;
}
.logo-span{
    color:var(--naviblue);
   }
    

    .logo link{text-decoration: none;}
   
    .logo-span-footer{
        font-family: 'Raleway' ,sans-serif ;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        color:var(--cloud);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        }
       
    


/* -----------nav----------- */
.container{
    width: 1158px;
    padding-left: 15px; 
    padding-right: 15px;
    margin: 0 auto;
 }
 .header{
    border-bottom: 1px solid #E7E9FC;
}
.header-container{
     display: flex;
     justify-content: space-between;
     
}  
.header-list-container{
    display: flex;
    
}

.header-nav{
    display: flex;
    align-items: center;

}


.nav:hover{ 
color: var(--iris);
}

.nav:active{
color: var(--iris);
}

.nav:focus{
color: var(--iris);  
}
.nav-link { 
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--naviblue);

}
.nav-link-item{
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right:40px;
}
.nav-link-item:hover { 
    color:var(--ocean);
}
.nav-link-item:active{
    color:var(--ocean);
}
.nav-link-item:focus{
    color:var(--ocean);
}




.address{
    display: flex;
    font-style: normal;
    
    
    
}
.list-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
   
    
}
.mail {
 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--slate);}
.tel {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--slate);
}
.mail cursor{ align-self: start;}
.mail-li:hover{
    color: var(--ocean);
}
.mail-li:focus{
    color:var(--ocean);
}
.mail-li:active{
    color:var(--ocean);
   
}
.address-mail-li{
    margin-right: 40px;
}

.tel , .mail{cursor: pointer;} 
.tel-li:hover{
    color:var(--ocean);
}
.tel:focus{
    color:var(--ocean);
}
.tel:active{
    color:var(--ocean);
}





/* -----------hero---------------- */
   
   
.list{
    list-style: none}
.link{
     text-decoration: none;
}
.hero-container{
    text-align: center;
}
 .hero{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; 
  
    
  }
  



.hero:hover {  color: var(--iris); }
.hero:active{ color: var(--iris);}
.hero:focus{ color: var(--iris);}


.hero-list-item{ 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5 ;
    display: flex; 
    justify-content: center;
    gap: 24px;
   margin-bottom: 72px;
    
    }




.mainpage-hero{
    background-color: var(--naviblue);
    padding-top: 188px;
    padding-bottom: 188px;

   
      
}
.mainpage-hero-title{
    font-size: 56px;
    text-align: center;
    letter-spacing: 0.02em;
    color:#ffffff;
    line-height: 1.07;
    width: 496px;
    margin: 0 auto;
}
   
 
  


.button{ 
    font-family:"Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--iris);
    letter-spacing: 0.04em;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    background:var(--cloud);
    border: 1px solid #E7E9FC;
    border-radius: 4px;

  
}

.button:hover{
    background: var(--iris); color: #ffffff;
    border-color:transparent;
}
.button:focus{
    background: var(--iris); color: #ffffff;
    border-color:transparent;
}
.button:active{
    background: var(--iris); color: #ffffff;

}



.button-hero{ 
    
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    min-width: 169px;
 
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    letter-spacing: 0.04em;
    background-color:var(--iris);
    color: #FFFFFF;
    margin-top: 48px;
    padding-top: 16px;
    padding-right: 32px; 
    padding-bottom: 16px;
    padding-left: 32px;
}
  
.button-hero:hover{ background-color: var(--ocean);}

.button-hero:focus{ background-color: var(--ocean);}




/*****---------------- offers-container------------------ */

.offers-list-container{ 
    display: flex;
}
.offers-title{
    width:264px;
}

.offers-list{
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02;
    color: var(--naviblue);
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
}
.offer-list-item{
font-weight: 500;
font-size: 20px;
line-height:1.2 ;
letter-spacing: 0.02em;
color: var(--naviblue);
margin-bottom: 8px;}

.offers{
   
    gap: 24px;
    padding-top: 120px;
    padding-bottom: 120px;

}
.text{
    height: 72px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:var(--slate)
        
        
}


/******* ------------gallery------------- */

.main-gallery{
    padding-bottom: 120px;

}
.gallery-text{
    padding-top: 32px;
    padding-right: 16px;
    padding-bottom: 32px;
    padding-left: 16px;
}
.main-gallery-list{
    display: flex;
    gap:24px;
    
}
.main-gallery-text{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--naviblue);
    margin-bottom: 72px;
   
}
.gallery-top{
    padding-top: 96px;
    padding-bottom: 120px;

}
.gallery-title{
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:var(--naviblue);
margin-bottom: 8px;


}
.gallery-subtitle{

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--slate);

}
.main-gallery-img{

    width: 360px;
}
.gallery-img
{display: block;
max-width: 100%;
height: auto;
}
/**-------------------team---------------------*/

.team{
     background:var(--cloud);
    padding-bottom: 120px;
    padding-top: 120px;
 }
    .team-container{
    }
.team-container-resume{
    
    display: flex;
    gap: 24px;
}

.team-gellery{
background-color:var(--cloud);
font-weight: 500;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--naviblue);
margin-bottom: 72px;

}
.team-gellery-list{
background-color: #FFFFFF;
width: 264px;
border-radius: 0px 0px 4px 4px;

}

.team-gellery-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--naviblue);
  
}
.team-gellery-subtext{
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--slate);

}



/* ---------footer----------- */
.footer{
    background-color:var(--naviblue);
    color:#ffffff;
    padding-top: 100px;
    padding-bottom: 100px;}
    
.container-footer{


}
    .footer-title{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--cornflower);
width: 264px;
height: 72px;

}

.logo-footer{
display: inline-block;
  margin-bottom: 16px;
   
}
.main-photo{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}
.main-photo-link{
    width: 360px;
    background: #FFFFFF;
}
.title-wrap{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-left: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
}
.visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  }
